{% extends "layout.html" %}
{% block title %}ERROR{% endblock %}
{% block content %}
    <div class="error-page w-100 pt-4 mt-4">
            <h1 class="message">ERREUR</h1>
            <h1 class="code">{{code}}</h1>
            <p>{{message}}</p>
            <a href="{{link}}" class="btn btn-primary">Revenir</a>
    </div>
{% endblock %}