<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <title>PREDICTION DES REVENUES</title>
</head>
<body>
        <nav>
            <h1>PR.<span>R</span></h1>
            <ul>
                <li>
                    <a href="/" class="{% if  request.endpoint == 'index' %}active{% endif %}">Prevision</a>
                </li>
                <li>
                    <a href="/rank" class="{% if  request.endpoint == 'rank' %}active{% endif %}">Statistiques</a>
                </li>
            </ul>
        </nav>

    <div class="form">
        <h1>PREDICTION  DES REVENUES</h1>
        <form id="form" method="post">
            <div class="form_group">
                <label for="secteur">Secteur</label>
                <select required name="secteur" id="secteur">
                    {% for secteur in sectors %}
                        <option value="{{secteur}}">{{sectors_pred[secteur]}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn" type="submit">Afficher</button>
        </form>
    </div>
    <div class="result empty"><p></p></div>
    <div class="result_image_t">
        <p>Prediction des revenus sur la periode du 31/08/2023 au 31/08/2025.</p>
        <div class="card none" id="result_table">
            <table>
            <thead>
                <tr>
                    <th><span>Mois</span></th>
                    <th><span>2023</span></th>
                    <th><span>2024</span></th>
                    <th><span>2025</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
        <img class="none" id="result_img" src="" alt="Prevision de revenues" >
    </div>

<script src="{{url_for('.static', filename='js/app.js')}}"></script>
</body>
</html>