
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX - FLASK STAT</title>
</head>
<body>

    <nav>
        <h1>PR.<span>R</span></h1>
        <ul>
            <li>
                <a href="/" class="{% if  request.endpoint == 'index' %}active{% endif %}">Prevision</a>
            </li>
            <li>
                <a href="/rank" class="{% if  request.endpoint == 'rank' %}active{% endif %}">Statistiques</a>
            </li>
        </ul>
    </nav>

        {% block content %}
        {% endblock %}

    <script src="{{url_for('.static', filename='js/app.js')}}"></script>
</body>
</html>
