<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <title>Listing</title>
</head>
<body>
    <nav>
            <h1>PR.<span>R</span></h1>
            <ul>
                <li>
                    <a href="/" class="{% if  request.endpoint == 'index' %}active{% endif %}">Prevision</a>
                </li>
                <li>
                    <a href="/rank" class="{% if  request.endpoint == 'rank' %}active{% endif %}">Statistiques</a>
                </li>
            </ul>
    </nav>

    <div class="card card-rank">
        <h1>Statistiques sur les revenues</h1>

        <img src="{{url_for('.static', filename='images/graphe_1.jpeg')}}">
        <h2>Description</h2>
        <p>Le graphique montre que le Revenu moyen par unité de séjour est plus élevé sur  les autres types d'hébergements; avec un valeur de 2693,36 million de rands. Les autres types d'hebergement  Comprennent les gîtes, les chambres d'hôtes, les gîtes ruraux et les "autres" établissements non classés ailleurs.Il s'agit du secteur touristique le plus onéreux avec une prédiction du revenu moyen de 2693,36 millions de rand sur 02 ans allant de d'Aout  2023 jusqu'en Aout  2025 .</p>
        <p>les Hotels représentent le deuxième secteur touristique le plus onéreux avec un revenu moyen de 1648,09 million de rand  sur les deux ans allant d'Aout 2023 jusqu'en Aout  2025. </p>
        <p>les deux autres secteurs sont quasiment au meme niveau avec un léger dépassment du secteur des Parcs de caravanes et Campings. le secteur touristique le plus bon marché , c'est le secteur des Maisons d'hotes et de fermes d'hotes.</p>


        <img src="{{url_for('.static', filename='images/graphe_2.jpeg')}}">
        <h2>Description</h2>
        <p>Le graphique montre que le secteur touristique le plus rentable sur  l'hébergement est celui des hotels avec un revenu moyen de 1548,7 million de rands; prévu   sur deux ans , allant de Aout 2025 jusqu'en Aout 2025. Ainsi les entreprises touristiques gagnraient plus en offrant un service de qualité dans les Hotels pour maintenir ou attirer plus de clients.</p>
        <p>le deuxième secteur touristique le plus rentable sur l'hébergement est celui des autres hébergements avec un revenu moyen de 775,51 million  de rands sur deux ans allant de Juillet 2023 jusqu'en Juillet 2025. </p>
        <p>Le secteur Touristique le moins rentable sur l'hébergement est celui des Parcs de caravanes et Campings avec un revenu moyen de de 27,72 millionde rands; prévu   sur deux ans , allant de Aout 2025 jusqu'en Aout 2025. </p>
        <p>Les entreprises devraient mettrent sur pied de meilleures strategies   marketing pour attirer les touristes dans les Parcs de caravanes et Campings ainsi que les Maisons d'hotes et fermes d'hotes.</p>


        <img src="{{url_for('.static', filename='images/graphe_3.jpeg')}}">
        <h2>Description</h2>
        <p>En ce qui concerne les Restaurant et les Bars , <br> Le graphique montre que le secteur le plus rentable  est celui des hotels avec un revenu moyen espéré 603,0 millions de rands ; prévu   sur deux ans , allant de Aout 2025 jusqu'en Aout 2025. </p>
        <p>le deuxième secteur touristique le plus rentable est celui des autres hébergements avec un revenu moyen espéré 57,99 millions de rands ; prévu   sur deux ans , allant de Aout 2025 jusqu'en Aout 2025. </p>
        <p>Le secteur Touristique le moins rentable   est celui des Parcs de caravanes et Campings avec un revenu moyen espéré de 27,72 millions de rands ; prévu   sur deux ans , allant de Aout 2025 jusqu'en Aout 2025. </p>
        <p>Ceci se justifie à partir du graphe précedant , en effet les secteurs qui font plus de revenus dans les restaurants et Bars sont les secteurs qui font plus de revenus dans l'hebergement( ceux qui hebergent le plus de  Touristes). Pour augmenter les revenus dans les autres secteurs (Parcs de caravanes et Camping ;Maisons d'hotes et de fermes d'hotes), il faudraient tout simplement attirer les touristes à prendre des hébergements dans ces secteurs ce qui entraineraient une augmentatin des recettes dans les Restaurants et les Bars.</p>


        <img src="{{url_for('.static', filename='images/graphe_4.jpeg')}}">
        <h2>Description</h2>
        <p>En ce qui concerne les Autres revenus qui sont: les jeux de casino, les services de blanchisserie et de téléphonie, les locations et redevances perçues pour les services de transport, les bureaux, les magasins, les garages, etc:  <br>
        Le graphique montre que le secteur le plus rentable  est celui des hotels avec un revenu moyen espéré 990,1 millions de rands espérés sur deux ans allant de Aout 2023 jusqu'en Aout 2025. Ainsi les entreprises touristiques gagnraient plus en offrant un service de qualité dans les Hotels pour maintenir ou attirer plus de clients.
        </p>
        <p>le deuxième secteur touristique le plus rentable est celui des autres hébergements avec un revenu moyen espérés 54,92 millions de rands de sur deux ans allant de Aout 2023 jusqu'en Aout 2025. </p>
        <p>Le secteur Touristique le moins rentable dans  est celui des Parcs de caravanes et Campings avec un revenu moyen espéré de 27,72 millions de rands de sur deux ans allant de Aout 2023 jusqu'en Aout 2025.</p>
        <p>Ceci se justifie à partir du graphe sur le revenu moyen de l'hébergemnt , en effet les secteurs qui font plus de revenus dans les autres types de revenus sont cux qui font plus de revenus dans l'hebergement( ceux qui hebergent le plus de  Touristes). Pour augmenter les recettes des autres types de revenus,   (es jeux de casino, les services de blanchisserie et de téléphonie, les locations et redevances perçues pour les services de transport, les bureaux, les magasins, les garages, etc) dasn autres secteurs, il faudrait tout simplement attirer les touristes à prendre des hébergements dans ces secteurs ce qui entrainerait une augmentatin des recettes dans les autres revenus.</p>

    </div>

</body>
</html>