/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main: #1a4f43;
  --white: #fff;
  --text-color: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: .85rem;
  font-weight: 400;
  color: var(--text-clr);
  line-height: 1.5;
  background-color: var(--main);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  padding-top: 8rem;
}
h2,
h1{
    text-align: center;
    margin: 1rem auto;
    font-weight: 900;
    color: var(--main);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    padding-block: 1.5rem;

    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
}
@media(max-width: 1300px){
    nav{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
nav h1{
       margin: inherit;
}
nav h1 span{
    color: black;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
nav ul a{
    text-decoration: none;
    color: black;
    position: relative;
}
nav ul a:before{
    content: "";
    position: absolute;
    left: 0;
    top: 110%;
    width: 30px;
    background: transparent;
    height: 3px;
    border-radius: 10px;
}
nav ul a.active:before{
    background: var(--main);
}
nav ul a.active{
    color: var(--main);
}

.form{
    background-color: var(--white);
    border-radius: 10px;

    text-align: center;
    padding: 3rem;

    box-shadow: 3px 3px 3px black;

    width: min(580px, 100%);
}

.form_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: .75rem;
}
.form_group label{
    font-size: 1rem;
    font-weight: 500;
}
.form_group input,
.form_group select{
    font-family: "Montserrat", sans-serif;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: none;

    box-shadow: 0px 0px 4px 0px #0000004a;
}

.btn{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 1rem;
    color: var(--white);
    background-color: var(--main);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}
.btn.disabled{
    cursor: no-drop;
    opacity: .8;
}
.result{
    width: min(580px, 100%);
    background-color: var(--white);
    color: green;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    padding: .75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    opacity: 1;
}
.result.error{
         color: red;
}
.result.empty{
    opacity: 0;
}

.error-page {
    text-align: center;
    width: min(100%, 750px);
}
.error-page h1{
    color: white;
    font-size: 4rem;
}
.error-page p{
    padding-block: 1rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.error-page .btn{
    margin: 0 auto;
    display: block;
    text-align: center;
    background: white;
    color: var(--main);
}

.none{
display: none;
}

.result_image_t{
    width: min(100%, 850px);
}
.result_image_t p{
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.result_image_t img{
    width: 100%;
}

.card{
    background-color: var(--white);
    border-radius: 10px;

    text-align: center;
    padding: 2rem;

    box-shadow: 3px 3px 3px black;

    width: min(850px, 100%);
    max-width: 1300px;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.card-rank{
    width: 100%;
    text-align: justify;
}
.card-rank img{
    width: 100%;
    max-width: 1024px;
    margin-top: 2rem;
}
.card-rank h2{
    margin-block: 2rem;
    text-align: left;
}
.card-rank p{
    margin-bottom: 1rem;
}
table{
    width: 100%;
  border-collapse: collapse;
}

table  td span,
table th span{
    display: block;
    padding: .5rem .75rem;
    font-size: 1.1rem;
}
table th{
  border-bottom: solid 1px rgba(184, 183, 183, 0.397);
 }
 table td{
  border-bottom: solid 1px rgba(184, 183, 183, 0.397);
 }
table  th span{
    font-size: 1.2rem;
}